.u-section-1 .u-sheet-1 {
  min-height: 1208px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  width: 541px;
  min-height: 482px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 189px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 40px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 26px 0 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 490px;
    margin-top: 228px;
    margin-bottom: 60px;
    margin-left: 40px;
    height: auto;
  }

  .u-section-1 .embed-responsive-1 {
    width: 228%;
    left: -64%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 415px;
    margin-top: 254px;
    margin-left: 19px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .embed-responsive-1 {
    width: 298%;
    left: -99%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 426px;
    margin-top: 271px;
    margin-left: 28px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 398%;
    left: -149%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 342px;
    width: 340px;
    margin-top: 239px;
    margin-left: -28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .embed-responsive-1 {
    width: 632%;
    left: -266%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 585px;
}

.u-section-2 .u-text-1 {
  margin: 45px 332px 0 auto;
}

.u-section-2 .u-list-1 {
  margin-top: 75px;
  margin-bottom: 45px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 321px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 274px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 265px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 210px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 609px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 70px;
    margin-right: auto;
    margin-left: 79px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 50px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 71px;
    margin-left: 25px;
    margin-right: 25px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 504px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-4 .u-line-1 {
  width: 100px;
  height: 0;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 223px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-4 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-4 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-9 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-4 .u-text-11 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-12 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-text-13 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 184px;
    grid-template-columns: repeat(3, 33.3333%);
  }

  .u-section-4 .u-text-2 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 35px;
    margin-left: 21px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -68px;
    margin-left: 54px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 55px;
  }

  .u-section-4 .u-text-5 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 35px;
    margin-left: 21px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -68px;
    margin-left: 54px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 55px;
  }

  .u-section-4 .u-text-8 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 35px;
    margin-left: 21px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: -68px;
    margin-left: 54px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-left: 55px;
  }

  .u-section-4 .u-text-11 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 35px;
    margin-left: 21px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: -68px;
    margin-left: 54px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 564px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 23px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 23px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    margin-top: -60px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 60px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 23px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
    margin-top: -60px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 60px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 23px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.875rem;
    margin-top: -60px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 60px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 23px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.875rem;
    margin-top: -60px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-4 .u-text-5 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-4 .u-text-8 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-4 .u-text-9 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-4 .u-text-11 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-4 .u-text-12 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-top: 19px;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 640px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-icon-1 {
  font-size: 1.5626em;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 552px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 50px 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 22px;
}

.u-section-6 .u-image-1 {
  height: 213px;
  margin: 0 8px;
}

.u-section-6 .u-text-1 {
  margin: 20px 8px 0;
}

.u-section-6 .u-text-2 {
  margin: 31px 16px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0 124px;
  padding: 2px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 22px;
}

.u-section-6 .u-image-2 {
  height: 213px;
  margin: 0 8px;
}

.u-section-6 .u-text-3 {
  margin: 20px 8px 0;
}

.u-section-6 .u-text-4 {
  margin: 31px 16px 0 0;
}

.u-section-6 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0 124px;
  padding: 2px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 22px;
}

.u-section-6 .u-image-3 {
  height: 213px;
  margin: 0 8px;
}

.u-section-6 .u-text-5 {
  margin: 20px 8px 0;
}

.u-section-6 .u-text-6 {
  margin: 31px 16px 0 0;
}

.u-section-6 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0 124px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-6 .u-image-1 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }

  .u-section-6 .u-image-1 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 331px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 331px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 331px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    height: 204px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 204px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 204px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-7 .u-shape-1 {
  width: 832px;
  height: 747px;
  margin: 60px auto 0 52px;
}

.u-section-7 .u-shape-2 {
  width: 672px;
  height: 555px;
  margin: -852px 0 0 auto;
}

.u-section-7 .u-image-1 {
  height: 524px;
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
  width: 543px;
  margin: -625px 61px 0 auto;
}

.u-section-7 .u-group-1 {
  background-image: none;
  width: 568px;
  min-height: 460px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -205px auto 28px 99px;
}

.u-section-7 .u-container-layout-1 {
  padding: 24px 40px;
}

.u-section-7 .u-text-1 {
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 3px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 21px 0 0;
}

.u-section-7 .u-text-3 {
  letter-spacing: 1px;
  margin: 21px 28px 0 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -25px auto 0 41px;
  padding: 15px 46px 15px 45px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-7 .u-shape-1 {
    width: 846px;
    margin-left: 0;
  }

  .u-section-7 .u-shape-2 {
    width: 610px;
    height: 504px;
    margin-top: -880px;
  }

  .u-section-7 .u-image-1 {
    width: 524px;
    margin-top: -534px;
  }

  .u-section-7 .u-group-1 {
    width: 524px;
    margin-top: -194px;
    margin-bottom: 17px;
    margin-left: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-7 .u-shape-1 {
    width: 720px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -890px;
    margin-right: 30px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -524px;
  }

  .u-section-7 .u-group-1 {
    width: 451px;
    margin-top: -156px;
    margin-bottom: -21px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-shape-1 {
    width: 540px;
  }

  .u-section-7 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    height: 454px;
    width: 454px;
    margin-top: -540px;
    margin-right: auto;
  }

  .u-section-7 .u-group-1 {
    margin: -70px 26px -37px auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-7 .u-shape-1 {
    height: 620px;
    width: 307px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-shape-2 {
    height: 293px;
    width: 319px;
    margin-top: -672px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: -261px;
    height: 524px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-1 {
    width: 318px;
    min-height: 458px;
    margin: 43px auto 8px 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }
}